/* Importación de fuentes Roboto de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Clase para aplicar la fuente Roboto */
.roboto-uniquifier {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
}
/* Definición de la fuente personalizada 'Cutta' en dos estilos */
@import url('https://fonts.cdnfonts.com/css/cutta');

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/************************************************************************/
/************************************************************************/
body {
    width: 100%;
    height: 100vh;
    gap: 60px;
    align-items: center;
    justify-content: center;
    font-family: 'Cutta', sans-serif;
    padding: 50px;
    padding-block: 70px;
    max-width: 1300px;
    align-self: center;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
} h2 {
    font-family: 'Roboto', sans-serif;
    color: #f4a503;
} h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
} p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

h1 {
    margin-bottom: 20px;
    font-size: 4.5rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 60px;
    width: 100%;
    height: 100%;
    background-color: #404040;
}

.buttonGris {
    width: fit-content;
    padding: 8px 16px;
    font-family: 'Cutta', sans-serif;
    align-self: center;
    font-weight: bolder;
}

/* Contenedor de los ojos (decorativo) */
.ojos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15%;
}
/* Estilo de cada ojo */
.ojo {
    width: 6vw;
    height: 12vw;
    border-radius: 50vh;
    background-color: #4ad9d9;
    box-shadow: 0px 0px 10px #9cffff;
}
.listaBotones {
    width: calc(100% - 30%);
    display: flex;
    justify-content: space-evenly;
    height: 100%;
} .botones {
    gap: 10px;
}

.perfil {
    align-items: center;
}

.circulo {
    width: 180px;
    height: 180px;
    margin: 20px;
    border-radius: 100%;
    border: 4px solid #f4a503;
}

/**********************************/
/** Propiedades dentro del modal **/
/**********************************/
.modal .container .box {
    padding: 40px;
    gap: 30px;
    background-color: #2e2e2e;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.container .box .div-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.innerBox .div-row {
    justify-content: space-between;
} .innerBox .div-row p {
    width: 100%;
    text-align: start;
} .innerBox .div-row .atributoField {
    display: flex;
    flex-direction: row;
    align-items: center;
} .boxTurquesa p {
    font-size: medium;
    align-content: center;
}

.puntaje {
    font-family: 'Cutta', sans-serif;
}

.perfil {
    align-items: center;
}

.circulo {
    width: 180px;
    height: 180px;
    margin: 20px;
    border-radius: 100%;
    border: 4px solid #f4a503;
}
.circulito {
    aspect-ratio: 1/1; /* Mantiene la proporción cuadrada */
    width: 50px;
    border-radius: 100%;
    border: 4px solid #f5555f;
}

#logout .box {
    width: 400px;
} #logout .box p {
    text-align: center;
} #logout .box p b {
    color: #f4a503;
}
#logout .box {
    width: 400px;
} #logout .box .div-row {
    gap: 20px;
}