@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.roboto-uniquifier {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
}

@font-face /*Estilo normal*/ {
    font-family: 'Cutta', sans-serif;
    src: url('../../fonts/cutta/Cutta-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
} @font-face /*Estilo negrita*/ {
    font-family: 'Cutta', sans-serif;
    src: url('../../fonts/cutta/Cutta-Black.otf') format('truetype');
    font-style: normal;
    font-weight: bolder;
}

/************************************************************************/
body {
    padding: 0; /* Elimina el padding para centrar correctamente */
    margin: 0;
    padding: 40px;
    
    
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    
    background-color: #f5a503;
    
    font-family: 'Cutta', sans-serif;
    
}
/************************************************************************/

.pantalla {
    width: 80%;
    height: 80vh;

    padding: 2rem;
    border: 8px solid #25858F;
    border-radius: 40px;
    
    display: flex;
    justify-content: center;
    align-content: center;

    background-color: #2e2e2e;

} .pantalla__contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

} .pantalla__contenido h1 {
    font-family: 'Cutta', sans-serif;
    font-size: 80px;
    color: #2e2e2e;
    text-shadow:#9cffff 0px 0px 10px;
}.pantalla h1 {
    font-size: 100px;
    color: #4ad9d9;
    text-shadow:#9cffff 0px 0px 10px;
    margin: 0;

} .ojos {
    width: 100%;
    margin-top: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20%;

} .ojo {
    width: 8vw;
    height: 17vw;
    border-radius: 50vh;
    
    background-color: #4ad9d9;
    box-shadow: 0px 0px 10px #9cffff;
}

.botonesContainer {
    padding-left: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;

    width: 100vh;
    height: 80vh;
    gap: 10px;

} .botonesContainer button {
    cursor: pointer;

    width: 100%;
    border: none;
    border-radius: 50px;

    padding: 15px 20px;
    margin: 5px;

    background-color: #2e2e2e;
    color: white;

    font-family: 'Cutta', sans-serif;
    font-size: 19px;
} .botonesContainer button:hover {
    background-color: #25858F;
    color: white;
    box-shadow: 0px 0px 10px #3fb5b5;
    transition: 0.3s;
} .botones {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usuario {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 0;

} .usuario h2 {
    font-family: 'Roboto', sans-serif;
    color: #2e2e2e;
    font-size: 30px;
    margin: 2rem;

} .usuario img {
    width: 40%;
}

@media screen and (max-width: 920px) {
    body {
        flex-wrap: wrap;
    }
    .pantalla {
        width: 90%;
        height: 60vh;
    } .pantalla__contenido {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
    } .pantalla__contenido h1 {
        margin: 0;
        font-size: 15vw;
    } .ojos {
        margin-top: 0;
    } .ojo {
        width: 10vw;
        height: 20vw;
    }
    
    .botonesContainer {
        padding-left: 0%;
        margin-top: 2rem;
        height: fit-content;
        width: -webkit-fill-available;
        flex-direction: row;
        justify-content: space-evenly;
        padding-inline: 10vw;
    } .botonesContainer button {
        width: 11vw;
        height: 7vw;
        font-size: 0;
    } .botones {
        flex-direction: row;
        justify-content: flex-end;
    } .opcionesCuenta {
        display: none;
    }

    .usuario {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        margin: 0;
    } .usuario img {
        width: 5rem;
    } .usuario h2 {
        display: none;
    }
}

@media screen and (max-width: 572px) {
    body {
        padding: 20px;
    }
    .pantalla {
        width: 80%;
        height: 50vh;
    } .pantalla__contenido h1 {
        font-size: 50px;
    } .ojos {
        margin-top: 0;
    } .ojo {
        width: 13vw;
        height: 15vh;
    }
    
    .botonesContainer {
        width: 100%;
    } .botonesContainer button {
        width: 90%;
    }
}