/* Fondo general y reseteo de márgenes/paddings */
html, body{
    background-color: #f5a503;
    height: 100%;
    margin: 0;
    padding: 0;
    margin: auto;
}

/* Centra el contenido principal en la pantalla */
body {
    max-width: 800px;
    background-color: #f5a503;
    gap: 20px;
} html .div-column {
    align-items: center;
}

nav {
    width: 100%;
}

/* Estilo del título principal */
h2 {
    font-size: 50px;
    font-family: monospace;
    color: #4ad9d9;
    text-shadow:
    0 0 8px #4ad9d9,
    0 0 2px #4ad9d9,
    0 0 3px #4ad9d9;
} h1 {
    color: #288686;
}

main {
    width: 100%;
}

/* Marco interior gris oscuro, centrado y con bordes redondeados */
.marcoDentro {
    box-sizing: border-box;
    border: #093b41 20px solid;
    border-radius: 16px;
    padding: 40px;
    background-color: #2e2e2e;
    height: fit-content;
    width: 100%;
    max-width: 1000px;
    gap: 30px;
}

/* Contenedor central para alinear los elementos del juego */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Contenedor de las puertas, alineadas horizontalmente y separadas */
.puertas {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
} .puertas img {
    width: 15dvh;
    height: 30dvh;
}

/* Estilo de cada imagen de puerta */
.puerta {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

/* Efecto al pasar el mouse sobre una puerta */
.puerta:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 0 3px 3px #4ad9d9, 0 2px 2px rgba(0,0,0,0.1);
}

/* Números debajo de las puertas, alineados y estilizados */
.numeros {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 215px;
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    color: #4ad9d9;
    text-shadow:
    0 0 8px #4ad9d9,
    0 0 2px #4ad9d9,
    0 0 3px #4ad9d9;
}

/* Mensaje informativo para el usuario */
.mensajes {
    font-size: 30px;
    font-family: monospace;
    color: #4ad9d9;
    text-shadow:
    0 0 8px #4ad9d9,
    0 0 2px #4ad9d9,
    0 0 3px #4ad9d9;
}

/* Resalta la puerta seleccionada por el usuario */
.primeraEleccion {
    box-shadow: 0 0 3px 3px #4ad9d9, 0 2px 2px rgba(0,0,0,0.1);
}
